@theme {
  --color-main: #101b3f;
  --color-low: #515151;
  --color-background: #ffffff;
  --color-secondary: #fdfbf7;
  --color-accent: #000000;
}

/* Typography */

h1 {
  @apply text-3xl xl:text-5xl font-bold tracking-wide;
}
h2 {
  @apply text-3xl lg:text-4xl font-semibold uppercase;
}
p {
  @apply text-xl  py-6;
}

/* Container */

.container {
  /* @apply md:w-11/12 xl:w-8/12 mx-auto; */
  @apply w-full lg:w-[90%] xl:w-[85%] mx-auto;
}
