@theme {
	--color-main: #101b3f;
	--color-low: #515151;
	--color-background: #ffffff;
	--color-secondary: #fdfbf7;
	--color-accent: #000000;
	--color-footer: #101b3f;
}

/* Typography */

h1 {
	@apply text-3xl xl:text-5xl font-bold;
}
h2 {
	@apply text-3xl lg:text-5xl font-bold;
}
h3 {
	@apply text-xl lg:text-[44px] font-bold;
}
p {
	@apply text-lg  py-2;
}

/* Container */

.container {
	/* @apply md:w-11/12 xl:w-8/12 mx-auto; */
	@apply w-full md:w-[95%] lg:w-[90%] mx-auto;
}

.btn {
	@apply bg-main text-background px-6 py-3 rounded-xl cursor-pointer w-full lg:w-max;
}

.outline {
	@apply !bg-transparent border-accent/10 border-2 outline-none text-accent py-2;
}
