.div-shaped {
	@apply mask-[url('/Rectangle.svg')] mask-no-repeat w-full mask-cover overflow-hidden h-full cursor-pointer rounded-4xl bg-low/10;
}
.mask-line {
	-webkit-mask-image: url("/Experience-Shape.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: cover;

	mask-image: url("/Experience-Shape.svg");
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: cover;
}

.content {
	@apply w-full  aspect-video p-0 bg-low/10 border-low/70 rounded-2xl overflow-hidden;
}
